<script src="{{ config.ASSETS_ROOT }}/plugins/jquery/js/jquery.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/plugins/jquery-ui/js/jquery-ui.js"></script>
<script src="{{ config.ASSETS_ROOT }}/js/vendor-all.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/js/pcoded.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/js/dark-mode.js"></script>
<script src="{{ config.ASSETS_ROOT }}/plugins/gijgo/js/gijgo.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/plugins/datatables/js/datatables.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/plugins/datatables/js/dataTables.editor.js"></script>
