{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->

                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <!-- [ VMware vCenter ] start -->
                                <div class="col-xl-6 col-md-6">
                                    <div class="card card-event">
                                        <div class="card-block">
                                            <div class="row align-items-center justify-content-center">
                                                <div class="col">
                                                    <img src="static/assets/images/vmware.svg" alt="VMware vCenter" width="7%" height="7%">
                                                </div>
                                            </div>
                                            <h5 class="m-0">vCenter Details</h5>
                                            <h6 class="text-muted mt-4 mb-0">HOST: {{ vc_host }}</h6>
                                            <h6 class="text-muted mt-4 mb-0">Admin: {{ vc_admin }}</h6>
                                            <i class="fab fa-clone text-c-blue f-50"></i>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-block border-bottom">
                                            <div class="row d-flex align-items-center">
                                                <div class="col-auto">
                                                    <i class="fa fa-laptop f-30 text-c-green"></i>
                                                </div>
                                                <div class="col">
                                                    <h3 id="vms" class="f-w-300">{{ vms }}</h3>
                                                    <span class="d-block text-uppercase">TOTAL VITUAL MACHINES</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-block border-bottom">
                                            <div class="row d-flex align-items-center">
                                                <div class="col-auto">
                                                    <i class="fa-solid fa-microchip f-30 text-c-blue"></i>
                                                </div>
                                                <div class="col">
                                                    <h3 id="vcpus" class="f-w-300">{{ vcpus }}</h3>
                                                    <span class="d-block text-uppercase">TOTAL vCPUS</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-block border-bottom">
                                            <div class="row d-flex align-items-center">
                                                <div class="col-auto">
                                                    <i class="fa-solid fa-memory f-30 text-c-blue"></i>
                                                </div>
                                                <div class="col">
                                                    <h3 id="memory" class="f-w-300">{{ memory }}</h3>
                                                    <span class="d-block text-uppercase">TOTAL MEMORY (GB)</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-block">
                                            <div class="row d-flex align-items-center">
                                                <div class="col-auto">
                                                    <i class="fas fa-hdd f-30 text-c-blue"></i>
                                                </div>
                                                <div class="col">
                                                    <h3 id="storage" class="f-w-300">{{ storage }}</h3>
                                                    <span class="d-block text-uppercase">TOTAL STORAGE (GB)</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button id="reload_vcenter_inventory" type="button" class="btn btn-primary" title="btn btn-primary" data-toggle="tooltip">Reload vCenter Inventory</button>
                                </div>
                                <!-- [ VMware vCenter ] end -->
                                <!-- [ OpenStack ] start -->
                                <div class="col-xl-6 col-md-6">
                                    <div class="card card-event">
                                        <div class="card-block">
                                            <div class="row align-items-center justify-content-center">
                                                <div class="col">
                                                    <img src="static/assets/images/openstack.png" alt="OpenStack Logo" width="7%" height="7%">
                                                </div>
                                            </div>
                                            <h5 class="m-0">OpenStack Details</h5>
                                            <h6 class="text-muted mt-4 mb-0">URL: {{ os_url }}</h6>
                                            <h6 class="text-muted mt-4 mb-0">Admin: {{ os_admin }}</h6>
                                            <h6 class="text-muted mt-4 mb-0">Domain: {{ os_domain }}</h6>
                                            <i class="fab fa-cloud text-c-red f-50"></i>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-block border-bottom">
                                            <div class="row d-flex align-items-center">
                                                <div class="col-auto">
                                                    <i class="feather icon-zap f-30 text-c-green"></i>
                                                </div>
                                                <div class="col">
                                                    <h3 id="projects" class="f-w-300">{{ projects }} </h3>
                                                    <span class="d-block text-uppercase">TOTAL PROJECTS</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-block">
                                            <div class="row d-flex align-items-center">
                                                <div class="col-auto">
                                                    <i class="feather icon-map-pin f-30 text-c-blue"></i>
                                                </div>
                                                <div class="col">
                                                    <h3 id="domains" class="f-w-300">{{ domains }}</h3>
                                                    <span class="d-block text-uppercase">TOTAL DOMAINS</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-block">
                                            <div class="row d-flex align-items-center">
                                                <div class="col-auto">
                                                    <i class="feather icon-map-pin f-30 text-c-blue"></i>
                                                </div>
                                                <div class="col">
                                                    <h3 id="regions" class="f-w-300">{{ regions }}</h3>
                                                    <span class="d-block text-uppercase">TOTAL REGIONS</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button id="reload_openstack_tenants" type="button" class="btn btn-primary" title="btn btn-primary" data-toggle="tooltip">Reload OpenStack Tenants</button>
                                </div>
                                <!-- [ OpenStack ] end -->

                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- [ Main Content ] end -->            

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
var base_url = window.location.origin;

const vcenter_button = document.getElementById('reload_vcenter_inventory');

vcenter_button.addEventListener('click', function (event) {
  event.preventDefault();

  const formData = {}

  const requestOptions = {
    method: 'POST',
    body: formData,
  };

  var txt = vcenter_button.innerText
  vcenter_button.disabled = true
  vcenter_button.innerText = "Loading vCenter Inventory..."
  fetch(base_url +'/reload_vcenter', requestOptions)
    .then(response => {
      vcenter_button.innerText = txt
      vcenter_button.disabled = false
      if (!response.ok) {
        throw new Error('Network response was not ok');
      }
      console.log(response)
      return response.text();
    })
    .then(data => {
      vcenter_button.innerText = txt
      vcenter_button.disabled = false
      data = JSON.parse(data)
      document.getElementById('vms').innerText = data.vms;
      document.getElementById('vcpus').innerText = data.vcpus;
      document.getElementById('memory').innerText = data.memory;
      document.getElementById('storage').innerText = data.storage;
    })
    .catch(error => {
      vcenter_button.innerText = txt
      vcenter_button.disabled = false
      console.error('Error:', error);
    });
});

const openstack_button = document.getElementById('reload_openstack_tenants');

openstack_button.addEventListener('click', function (event) {
  event.preventDefault();

  const formData = {}

  const requestOptions = {
    method: 'POST',
    body: formData,
  };

  var txt = openstack_button.innerText
  openstack_button.disabled = true
  openstack_button.innerText = "Loading OpenStack Tenants..."
  fetch(base_url +'/reload_openstack', requestOptions)
    .then(response => {
      openstack_button.innerText = txt
      openstack_button.disabled = false
      if (!response.ok) {
        throw new Error('Network response was not ok');
      }
      return response.text();
    })
    .then(data => {
      openstack_button.innerText = txt
      openstack_button.disabled = false
      data = JSON.parse(data)
      document.getElementById('projects').innerText = data.projects;
      document.getElementById('domains').innerText = data.domains;
      document.getElementById('regions').innerText = data.regions;
    })
    .catch(error => {
      openstack_button.innerText = txt
      openstack_button.disabled = false
      console.error('Error:', error);
    });
});
</script>

{% endblock javascripts %}
