{% extends "layouts/base.html" %}

{% block title %} OpenStack Glance Images {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <section class="pcoded-main-container">
        <div class="pcoded-wrapper">

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <!-- [ stiped-table ] start -->
                                <div class="col-xl-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Glance Images</h5>
                                            <span class="d-block m-t-5">You can edit, delete images required for migration</span>
                                        </div>
                                        <div class="card-block table-border-style">
                                            <div class="table-responsive">
                                                <table id="images" class="table table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th>#</th>
                                                            <th>Name</th>
                                                            <th>Description</th>
                                                            <th>Flags</th>
                                                        </tr>
                                                    </thead>
                                                    <tfoot>
                                                        <tr>
                                                            <th>#</th>
                                                            <th>Name</th>
                                                            <th>Description</th>
                                                            <th>Flags</th>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- [ stiped-table ] end -->
                            </div>
                            <button type="button" class="btn btn-primary" title="btn btn-primary" data-toggle="tooltip">Create Images</button>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
var base_url = window.location.origin;

let editor = new DataTable.Editor( {
    ajax: base_url + '/images/json',
    table: '#images',
    fields: [
        { label: "#", name: 'DT_RowId'},
        { label: 'Network Name', name: 'Network Name' },
        { label: 'VM Name',  name: 'VM Name'  },
        { label: 'VM Instance UUID',  name: 'VM Instance UUID'  },
    ]
} );

let table = new DataTable('#images', {
    ajax: base_url + '/images/json',
    order: [['Network Name', 'asc']],
    rowGroup: {
       dataSrc: 'Network Name',
    },
    columns: [
        { data: 'DT_RowId'},
        { data: 'Network Name' },
        { data: 'VM Name' },
        { data: 'VM Instance UUID' },
        // etc
    ],
    select: true
} );
</script>
{% endblock javascripts %}
