{% extends "layouts/base.html" %}

{% block title %} UI Tabs {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Modal -->
    <div class="modal fade" id="migration-plan" tabindex="-1" aria-labelledby="migration-plan-label" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="migrationPlanLabel">Migration Plan</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
               <form>
                 <div class="form-group">
                   <label for="migration-plan-name">Name</label>
                   <input type="text" class="form-control" id="migration-plan-name" placeholder="Migration Plan Name here">
                 </div>
                 <div class="form-group">
                   <label for="migration-plan-description">Description</label>
                   <input type="text" class="form-control" id="migration-plan-description" placeholder="Description here">
                 </div>
                 <div class="form-group">
                   <label for="migration-plan-type">Type</label>
                   <select id="migration-plan-type" class="form-control">
                     <option selected>Cold</option>
                     <option>Warm</option>
                     <option>Dry Run</option>
                   </select>
                 </div>
               </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary">Create</button>
          </div>
        </div>
      </div>
    </div>
    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <!-- [ tabs ] start -->
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-md-2 col-sm-12">
                                            <ul class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                                {% for tenant in tenants %}
                                                    {% if loop.index == 1 %}
                                                       <li><a class="nav-link text-left active" id="v-pills-{{ tenant['domain_name'] }}-{{ tenant['name'] }}-tab"
                                                              data-toggle="pill" href="#v-pills-{{ tenant['domain_name'] }}-{{ tenant['name'] }}" role="tab" 
                                                              aria-controls="v-pills-{{ tenant['domain_name'] }}-{{ tenant['name'] }}" aria-selected="true">{{ tenant['domain_name'] }} / {{ tenant['name'] }} </a></li>
                                                    {% else %}
                                                       <li><a class="nav-link text-left" id="v-pills-{{ tenant['domain_name'] }}-{{ tenant['name'] }}-tab"
                                                              data-toggle="pill" href="#v-pills-{{ tenant['domain_name'] }}-{{ tenant['name'] }}" role="tab" 
                                                              aria-controls="v-pills-{{ tenant['domain_name'] }}-{{ tenant['name'] }}" aria-selected="true">{{ tenant['domain_name'] }} / {{ tenant['name'] }} </a></li>
                                                    {% endif %}
                                                {% endfor %}
                                            </ul>
                                        </div>
                                        <div class="col-md-10 col-sm-12">
                                            <div class="tab-content" id="v-pills-tabContent">
                                                {% for tenant in tenants %}
                                                    {% if loop.index == 1 %}
                                                          <div class="tab-pane fade show active" id="v-pills-{{ tenant['domain_name'] }}-{{ tenant['name'] }}"
                                                               role="tabpanel" aria-labelledby="v-pills-{{ tenant['domain_name'] }}-{{ tenant['name'] }}-tab">
                                                    {% else %}
                                                          <div class="tab-pane fade show" id="v-pills-{{ tenant['domain_name'] }}-{{ tenant['name'] }}"
                                                               role="tabpanel" aria-labelledby="v-pills-{{ tenant['domain_name'] }}-{{ tenant['name'] }}-tab">
                                                    {% endif %}
                                                    <div class="row">
                                                        <!-- [ stiped-table ] start -->
                                                        <div class="col-xl-12">
                                                            <div class="card">
                                                                <div class="card-header">
                                                                    <h5>VMware Tenant VMs</h5>
                                                                </div>
                                                                <div class="card-block table-border-style">
                                                                    <div class="table-responsive">
                                                                        <table id="tenant_vms" class="table table-striped">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th>#</th>
                                                                                    <th>VM Path</th>
                                                                                    <th>Name</th>
                                                                                    <th>Guest</th>
                                                                                    <th>Migration Plan</th>
                                                                                </tr>
                                                                            </thead>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- [ stiped-table ] end -->
                                                    </div>
                                                    <div class="row">
                                                        <!-- [ stiped-table ] start -->
                                                        <div class="col-xl-12">
                                                            <div class="card">
                                                                <div class="card-header">
                                                                    <h5> Migration Plans</h5>
                                                                </div>
                                                                <div class="card-block table-border-style">
                                                                    <div class="table-responsive">
                                                                        <table id="migration_plans" class="table table-striped">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th>#</th>
                                                                                    <th>Name</th>
                                                                                    <th>Description</th>
                                                                                    <th>Number of VMs</th>
                                                                                    <th>Type</th>
                                                                                </tr>
                                                                            </thead>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- [ stiped-table ] end -->
                                                    </div>
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- [ tabs ] end -->
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- [ Main Content ] end -->
    
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
var base_url = window.location.origin;
let tenant_vms_editor = new DataTable.Editor( {
    ajax: base_url + '/migration_plans/tenant_vms?tenant_name={{ tenants[0]["name"] }}&domain_name={{ tenants[0]["domain_name"] }}',
    table: '#tenant_vms',
    idSrc:  'seqno',
    fields: [
        { label: "#", name: 'seqno'},
        { label: 'VM Path',  name: 'VM Path', multiEditable: false },
        { label: 'Name', name: 'Name', multiEditable: false },
        { label: 'Guest',  name: 'Guest', multiEditable: false  },
        { label: 'Migration Plan',  name: 'IP', multiEditable: false  },
    ]
} );

let tenant_vms_table = new DataTable('#tenant_vms', {
    order: [['VM Path', 'asc']],
    ajax: base_url + '/migration_plans/tenant_vms?tenant_name={{ tenants[0]["name"] }}&domain_name={{ tenants[0]["domain_name"] }}',
    columns: [
        { data: 'seqno'},
        { data: 'VM Path' },
        { data: 'Name' },
        { data: 'Guest' },
        { data: 'IP' },
    ],
    layout: {
        topStart: {
            buttons: [
                { extend: 'selected', 'text': 'Create Migration Plan', action: function ( e, dt, node, config ) {
                     e.preventDefault();
                     jQuery.noConflict();
                     $('#migration-plan').modal('show') 
            } },
                { extend: 'selectNone', 'text': 'DeSelectAll' }]
        }
    },
    select: {
        style: 'multi'
    }
} );

tenant_vms_table.on('user-select', function (e, dt, type, cell, originalEvent) {
    row = cell[0][0].row
    
    if (this.childNodes[3].childNodes[row].childNodes[4].textContent != "") {
        e.preventDefault();
    }
});


$('a[data-toggle="pill"]').on('shown.bs.tab', function (e) {
  var target = $(e.target).attr("href") // activated tab
  alert(target);
});

</script>
{% endblock javascripts %}
