{% extends "layouts/base.html" %}

{% block title %} UI Tabs {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->
                    <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    <div class="page-header-title">
                                        <h5 class="m-b-10">Migration Plans</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <!-- [ tabs ] start -->
                                <div class="col-sm-12">
                                    <h5 class="mt-4">Tenants</h5>
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-2 col-sm-12">
                                            <ul class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                                {% for tenant in tenants %}
                                                    {% if loop.index == 0 %}
                                                       <li><a class="nav-link text-left active" id="v-pills-{{ tenant['domain_name'] }}-{{ tenant['name'] }}-tab"
                                                              data-toggle="pill" href="#v-pills-{{ tenant['domain_name'] }}-{{ tenant['name'] }}" role="tab" 
                                                              aria-controls="v-pills-{{ tenant['domain_name'] }}-{{ tenant['name'] }}" aria-selected="true">{{ tenant['domain_name'] }} / {{ tenant['name'] }} </a></li>
                                                    {% else %}
                                                       <li><a class="nav-link text-left" id="v-pills-{{ tenant['domain_name'] }}-{{ tenant['name'] }}-tab"
                                                              data-toggle="pill" href="#v-pills-{{ tenant['domain_name'] }}-{{ tenant['name'] }}" role="tab" 
                                                              aria-controls="v-pills-{{ tenant['domain_name'] }}-{{ tenant['name'] }}" aria-selected="true">{{ tenant['domain_name'] }} / {{ tenant['name'] }} </a></li>
                                                    {% endif %}
                                                {% endfor %}
                                            </ul>
                                        </div>
                                        <div class="col-md-10 col-sm-12">
                                            <div class="tab-content" id="v-pills-tabContent">
                                                {% for tenant in tenants %}
                                                    {% if loop.index == 0 %}
                                                          <div class="tab-pane fade show active" id="v-pills-{{ tenant['domain_name'] }}-{{ tenant['name'] }}"
                                                               role="tabpanel" aria-labelledby="v-pills-{{ tenant['domain_name'] }}-{{ tenant['name'] }}-tab">
                                                    {% else %}
                                                          <div class="tab-pane fade show" id="v-pills-{{ tenant['domain_name'] }}-{{ tenant['name'] }}"
                                                               role="tabpanel" aria-labelledby="v-pills-{{ tenant['domain_name'] }}-{{ tenant['name'] }}-tab">
                                                    {% endif %}
                                                    <div class="row">
                                                        <!-- [ stiped-table ] start -->
                                                        <div class="col-xl-12">
                                                            <div class="card">
                                                                <div class="card-header">
                                                                    <h5>VMware Tenant VMs</h5>
                                                                </div>
                                                                <div class="card-block table-border-style">
                                                                    <div class="table-responsive">
                                                                        <table id="tenant_vms" class="table table-striped">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th>#</th>
                                                                                    <th>VM Path</th>
                                                                                    <th>Name</th>
                                                                                    <th>Guest</th>
                                                                                    <th>Migration Plan</th>
                                                                                </tr>
                                                                            </thead>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- [ stiped-table ] end -->
                                                    </div>
                                                    <div class="row">
                                                        <!-- [ stiped-table ] start -->
                                                        <div class="col-xl-12">
                                                            <div class="card">
                                                                <div class="card-header">
                                                                    <h5> Migration Plans</h5>
                                                                </div>
                                                                <div class="card-block table-border-style">
                                                                    <div class="table-responsive">
                                                                        <table id="migration_plans" class="table table-striped">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th>#</th>
                                                                                    <th>Name</th>
                                                                                    <th>Description</th>
                                                                                    <th>Number of VMs</th>
                                                                                    <th>Type</th>
                                                                                </tr>
                                                                            </thead>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- [ stiped-table ] end -->
                                                    </div>
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- [ tabs ] end -->
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- [ Main Content ] end -->
    
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
var base_url = window.location.origin;
let tenant_vms_editor = new DataTable.Editor( {
    ajax: base_url + '/migration_plans/tenant_vms?tenant_name={{ tenants[0]["name"] }}&domain_name={{ tenants[0]["domain_name"] }}',
    table: '#tenant_vms',
    idSrc:  'seqno',
    fields: [
        { label: "#", name: 'seqno'},
        { label: 'VM Path',  name: 'VM Path', multiEditable: false },
        { label: 'Name', name: 'Name', multiEditable: false },
        { label: 'Guest',  name: 'Guest', multiEditable: false  },
        { label: 'Migration Plan',  name: 'IP', multiEditable: false  },
    ]
} );

let tenant_vms_table = new DataTable('#tenant_vms', {
    order: [['VM Path', 'asc']],
    ajax: base_url + '/migration_plans/tenant_vms?tenant_name={{ tenants[0]["name"] }}&domain_name={{ tenants[0]["domain_name"] }}',
    columns: [
        { data: 'seqno'},
        { data: 'VM Path' },
        { data: 'Name' },
        { data: 'Guest' },
        { data: 'IP' },
    ],
    layout: {
        topStart: {
            buttons: [
                { extend: 'selected', 'text': 'Create Migration Plan' },
                { extend: 'selectNone', 'text': 'DeSelectAll' }]
        }
    },
    select: {
        style: 'multi'
    }
} );

tenant_vms_table.on('user-select', function (e, dt, type, cell, originalEvent) {
    row = cell[0][0].row
    
    if (this.childNodes[3].childNodes[row].childNodes[4].textContent != "") {
        e.preventDefault();
    }
});

$('button[data-toggle="pill"]').on('show.bs.tab', function (event) {
  event.target // newly activated tab
  event.relatedTarget // previous active tab
  console.log(event)
})
</script>
{% endblock javascripts %}
