{% extends "layouts/base.html" %}

{% block title %} Potential OpenStack Flavors {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <section class="pcoded-main-container">
        <div class="pcoded-wrapper">

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->
                    <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    <div class="page-header-title">
                                        <h5 class="m-b-10">Possible Flavors</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <!-- [ stiped-table ] start -->
                                <div class="col-xl-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Existing VMs Composition</h5>
                                            <span class="d-block m-t-5">All VMs from vCenter and their composition</span>
                                        </div>
                                        <div class="card-block table-border-style">
                                            <div class="table-responsive">
                                                <table id="vms_composition" class="table table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th>#</th>
                                                            <th>Name</th>
                                                            <th>Guest</th>
                                                            <th>vCPUs</th>
                                                            <th>Memory (GB)</th>
                                                            <th>Root Disk Size (GB)</th>
                                                        </tr>
                                                    </thead>
                                                    <tfoot>
                                                        <tr>
                                                            <th>#</th>
                                                            <th>Name</th>
                                                            <th>Guest</th>
                                                            <th>vCPUs</th>
                                                            <th>Memory (GB)</th>
                                                            <th>Root Disk Size (GB)</th>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- [ stiped-table ] end -->
                            </div>
                            <div class="row">
                                <!-- [ stiped-table ] start -->
                                <div class="col-xl-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5> Potential Flavors to Create on OpenStack</h5>
                                            <span class="d-block m-t-5">You can edit, delete flavors from the list </span>
                                        </div>
                                        <div class="card-block table-border-style">
                                            <div class="table-responsive">
                                                <table id="recommended_flavors" class="table table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th>#</th>
                                                            <th>Flavor Name</th>
                                                            <th>Description</th>
                                                            <th>vCPUs</th>
                                                            <th>Memory (GB)</th>
                                                            <th>Root Disk Size (GB)</th>
                                                            <th>Public</th>
                                                        </tr>
                                                    </thead>
                                                    <tfoot>
                                                        <tr>
                                                            <th>#</th>
                                                            <th>Flavor Name</th>
                                                            <th>Description</th>
                                                            <th>vCPUs</th>
                                                            <th>Memory (GB)</th>
                                                            <th>Root Disk Size (GB)</th>
                                                            <th>Public</th>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- [ stiped-table ] end -->
                            </div>
                            <button id="create_flavors" type="button" class="btn btn-primary" title="btn btn-primary" data-toggle="tooltip">Create Flavors</button>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </section>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
var base_url = window.location.origin;

let compeditor = new DataTable.Editor( {
    ajax: base_url + '/flavors/vms_composition',
    table: '#vms_composition',
    idSrc:  'seqno',
    fields: [
        { label: "#", name: 'seqno'},
        { label: 'Name', name: 'Name' },
        { label: 'Guest',  name: 'Guest'  },
        { label: 'Memory',  name: 'Memory'  },
        { label: 'vCPUs',  name: 'CPUs'  },
        { label: 'Root Disk',  name: 'RootDiskSize'  },
    ]
} );

let comptable = new DataTable('#vms_composition', {
    ajax: base_url + '/flavors/vms_composition',
    columns: [
        { data: 'seqno'},
        { data: 'Name' },
        { data: 'Guest' },
        { data: 'Memory' },
        { data: 'CPUs' },
        { data: 'RootDiskSize' },
    ],
    layout: {
        topStart: {
            buttons: [
                { extend: 'create', editor: compeditor },
                { extend: 'edit',   editor: compeditor },
                { extend: 'remove', editor: compeditor }
            ]
        }  
    },
    select: true
} );

let flveditor = new DataTable.Editor( {
    ajax: base_url + '/flavors/recommended',
    table: '#recommended_flavors',
    idSrc: 'flavorid',
    fields: [
        { label: "#", name: 'flavorid'},
        { label: 'Name', name: 'name' },
        { label: 'Description',  name: 'description'  },
        { label: 'vCPUs',  name: 'vcpus'  },
        { label: 'RAM',  name: 'ram'  },
        { label: 'Root Disk',  name: 'disk'  },
        { label: 'Public',  name: 'is_public'  },
    ]
} );

let flvtable = new DataTable('#recommended_flavors', {
    ajax: base_url + '/flavors/recommended',
    columns: [
        { data: 'flavorid'},
        { data: 'name' },
        { data: 'description' },
        { data: 'vcpus' },
        { data: 'ram' },
        { data: 'disk' },
        { data: 'is_public' },
    ],
    layout: {
        topStart: {
            buttons: [
                { extend: 'create', editor: flveditor },
                { extend: 'edit',   editor: flveditor },
                { extend: 'remove', editor: flveditor }
            ]
        }  
    },
    select: true
} );
// Activate an inline edit on click of a table cell
flvtable.on('click', 'tbody td:not(:first-child)', function (e) {
    flveditor.inline(this);
});

const create_flavors = document.getElementById('create_flavors');

create_flavors.addEventListener('click', function (event) {
  event.preventDefault();

  const formData = {}

  const requestOptions = {
    method: 'POST',
    body: formData,
  };

  var txt = create_flavors.innerText
  create_flavors.disabled = true
  create_flavors.innerText = "Loading vCenter Inventory..."
  fetch(base_url +'/flavors/create', requestOptions)
    .then(response => {
      create_flavors.innerText = txt
      create_flavors.disabled = false
      if (!response.ok) {
        throw new Error('Network response was not ok');
      }
      console.log(response)
      return response.text();
    })
    .then(data => {
      create_flavors.innerText = txt
      create_flavors.disabled = false
      data = JSON.parse(data)
    })
    .catch(error => {
      create_flavors.innerText = txt
      create_flavors.disabled = false
      console.error('Error:', error);
    });
});
</script>
{% endblock javascripts %}
